<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
	<title>Projeto Jogar Dados</title>
</head>
<body>


<main>
	
	<h1>Projeto jogar Dados</h1>

	<button type="button" id="buttonLancarDados">Lançar Dados</button>
</main>


</body>

<script src='js/jquery-3.4.1.min.js'></script>

<script type="text/javascript">

	$(document). ready(function(){

		$('#buttonLancarDados').click(function(){
			location.href = 'lancarDados';
		})
	})
</script>

</html>